.navTab a:active,a:hover {
	outline:0;
	}
.navTab ul.lstDosColumn {
	width:360px;
	padding:0;
	}
.navTab .contentColumn {
	border-right:1px solid #E2E2E2;
	float:left;
	height:174px;
	overflow:hidden;
	margin:10px 7px 10px 0;
	padding-left:10px;
	}
.navTab .contentColumn + .last {
	border:none;
	margin-right:-3px;
	}
.navTab .multimedia .contentColum + .last{margin-right:0;}
.navTab .lstDosColumn li {
	float:left;
	display:inline-block;
	}
.contentMenuTab {
	width:990px;
	margin:0 auto;
	}
.navTab ul {
	list-style-type:none;
	margin:0;
	padding:0;
	}
.navTab {
	background:url("http://estaticos01.marca.com/deporte/img/v3.0/menu/bgMenu.jpg") repeat-x;
	padding-left:8px;
	position:relative;
	width:982px;
	font-family:Arial;
	border-bottom:1px solid #4F4D50;
	height:44px;
	font-size:11px;
	color:#000;
	/*z-index:999999;*/
	}
.navTab .subMenu .titular a, .navTab .subMenu caption {
	color:#000;
	font-weight:bold;
	}
.contentAspaCerrar{display: none;}


ul.navTab li .seccionesMenu {
                display:inline-block;
                text-decoration:none;
                color:#fff;
                font-weight:bold;
                padding: 1px 4px 0px 4px;                
                /*NUEVO*/
                font-size: 13px;
                /*line-height: 45px;*/
                line-height: 43px;
                }

.navTab .selected{
                display:inline-block;
                border:1px solid #505050;
                border-bottom:none;
                background:url("http://estaticos02.marca.com/deporte/img/v3.0/menu/mosaico.gif") repeat scroll 0 0 #FFF;
                color:#000;
                padding: 0px 3px;
                 font-weight: bold;

 				/*NUEVO*/
                font-size: 13px;
                /*line-height: 45px;*/
                line-height: 43px;
               
                }


.navTab .selected:hover{text-decoration:none;}
.navTab .subMenu {
	position:absolute;
	width:990px;
	right:0;
	background:url("http://estaticos02.marca.com/deporte/img/v3.0/menu/mosaico.gif") repeat scroll 0 0 #FFF;
	border-bottom:2px solid #4e4e4e;
	/*z-index:999;*/
	z-index:999999;
	}
.navTab .lstDosColumn .titular a, .navTab .cuentaAtras{
	margin-top:0;
	line-height:17.5px;
	padding:0;
}

.navTab .lstDosColumn p .cuentaAtras{
   color:#b30000; font-weight: bold;}

.navTab .lstDosColumn .txtLst a, .navTab .lstDosColumn .cuentaAtras {
	float:left;
	display:inline-block;
	color:#858585;
	font-weight:400;
	margin:0 8px 0 0;
	padding:0;
	}


.navTab .lstDosColumn .col1 {
	width:198px;
	margin-right:12px;
	}
.navTab .lstDosColumn .col2 {
	width:150px;
	}
.navTab .contentNews {
	width:327px;
	margin-right:15px;
	overflow:hidden;
	}

.navTab .contentNews .noticiaImgGrande{height:114px;}	
.navTab .contentNews .noticiaImgGrande, .contentNews .noticiaImgPeque {
	margin-bottom: 15px;
	overflow:hidden;
	}
.navTab .contentNews .noticiaImgGrande img, .contentNews .noticiaImgPeque img {
	float:left;
	margin-right:12px;
	}
.navTab .contentNews .noticiaImgGrande img {
	width:203px;
	height:114px;
	}
.navTab .contentNews .noticiaImgPeque img {
	width:48px;
	height:48px;
	}
.navTab .subMenu a .titular{
	color:#000;
	font-weight:bold;
	display:block;
	padding:0;
}
.navTab .subMenu a:hover .titular{text-decoration:underline;}
.navTab .contentNews a:hover{text-decoration: none;}

.navTab .subMenu a .txt{
	color:#858585;
}
.navTab .contentNews .noticiaImgGrande a .titular, .contentNews .noticiaImgPeque a .titular  {
	margin-bottom:7px;
	padding:0;
	}

.navTab .contentNews .noticiaImgGrande a .txt,.contentNews .noticiaImgPeque a .txt {
	line-height:12px;
	}
.navTab .separador {
	clear:both;
	}
.navTab .bgSubMenu {
	background-image:url("http://estaticos04.marca.com/deporte/img/v3.0/menu/bgSubmenu.png");
	background-position:left bottom;
	background-repeat:repeat-x;
	height:13px;
	position:absolute;
	width:990px;
	}
.navTab .contentEscudosMenu {
	border-top:1px solid #e2e2e2;
	padding:8px 10px 6px 10px;
	background:#fff;
	}
.navTab .escudosMenu li{display:inline-block;}
.navTab .escudosMenu {display:block;}
.navTab ul.escudosMenu li a {
	height:19px;
	cursor:pointer;
	margin:0;
	padding:0;
	display:inline-block;
	}
.navTab ul.escudosMenu li a span {
	position:absolute!important;
	clip:rect(1px,1px,1px,1px);
	}
.navTab .contentEscudosMenu ul li a {
    background: url("http://estaticos01.marca.com/deporte/img/v3.0/menu/escudosMenu.png") ;
    background-repeat: no-repeat;
    width: 28px;
	}
.navTab .contentEscudosMenu ul li.calendario a {
    background: url("http://estaticos02.marca.com/deporte/img/v3.0/menu/consultaelcalendario3.jpg") ;
    width: 350px;
	}
.navTab .contentEscudosMenu ul li.almeria a {
    background-position: -683px -2px;
	}
.navTab .contentEscudosMenu ul li.almeria a:hover {
    background-position: -683px -21px
	}	
.navTab .contentEscudosMenu ul li.athletic a {
    background-position: 0px -2px;
	}
.navTab .contentEscudosMenu ul li.athletic a:hover {
    background-position: 0 -21px
	}

.navTab .contentEscudosMenu ul li.atletico a {
background-position:-33px -2px;
	}

.navTab .contentEscudosMenu ul li.atletico a:hover {
background-position:-33px -21px;
	}

.navTab .contentEscudosMenu ul li.barcelona a {
background-position:-63px -2px;
	}

.navTab .contentEscudosMenu ul li.barcelona a:hover {
background-position:-63px -21px;
	}

.navTab .contentEscudosMenu ul li.betis a {
background-position:-93px -2px;
	}

.navTab .contentEscudosMenu ul li.betis a:hover {
background-position:-93px -21px;
	}

.navTab .contentEscudosMenu ul li.celta a {
background-position:-123px -2px;
	}

.navTab .contentEscudosMenu ul li.celta a:hover {
background-position:-123px -21px;
	}

.navTab .contentEscudosMenu ul li.deportivo a {
background-position:-153px -2px;
	}

.navTab .contentEscudosMenu ul li.deportivo a:hover {
background-position:-153px -21px;
	}
.navTab .contentEscudosMenu ul li.elche a {
    background-position: -615px -2px;
	}
.navTab .contentEscudosMenu ul li.elche a:hover {
    background-position: -615px -21px
	}
.navTab .contentEscudosMenu ul li.espanyol a {
background-position:-183px -2px;
	}

.contentEscudosMenu ul li.espanyol a:hover {
background-position:-183px -21px;
	}

.navTab .contentEscudosMenu ul li.getafe a {
background-position:-213px -2px;
	}

.navTab .contentEscudosMenu ul li.getafe a:hover {
background-position:-213px -21px;
	}

.contentEscudosMenu ul li.granada a {
background-position:-243px -2px;
	}

.navTab .contentEscudosMenu ul li.granada a:hover {
background-position:-243px -21px;
}

.navTab .contentEscudosMenu ul li.levante a {
background-position:-273px -2px;
}

.navTab .contentEscudosMenu ul li.levante a:hover {
background-position:-273px -21px;
}

.navTab .contentEscudosMenu ul li.malaga a {
background-position:-303px -2px;
}

.navTab .contentEscudosMenu ul li.malaga a:hover {
background-position:-303px -21px;
}

.navTab .contentEscudosMenu ul li.mallorca a {
background-position:-333px -2px;
}

.navTab .contentEscudosMenu ul li.mallorca a:hover {
background-position:-333px -21px;
}

.navTab .contentEscudosMenu ul li.osasuna a {
background-position:-363px -2px;
}

.navTab .contentEscudosMenu ul li.osasuna a:hover {
background-position:-363px -21px;
}

.navTab .contentEscudosMenu ul li.rayo a {
background-position:-396px -2px;
}

.navTab .contentEscudosMenu ul li.rayo a:hover {
background-position:-396px -21px;
}

.navTab .contentEscudosMenu ul li.realmadrid a {
background-position:-432px -2px;
}

.navTab .contentEscudosMenu ul li.realmadrid a:hover {
background-position:-432px -21px;
}

.navTab .contentEscudosMenu ul li.realsociedad a {
background-position:-463px -2px;
}

.navTab .contentEscudosMenu ul li.realsociedad a:hover {
background-position:-463px -21px;
}

.navTab .contentEscudosMenu ul li.sevilla a {
background-position:-497px -2px;
}

.navTab .contentEscudosMenu ul li.sevilla a:hover {
background-position:-497px -21px;
}

.navTab .contentEscudosMenu ul li.valencia a {
background-position:-529px -2px;
}

.navTab .contentEscudosMenu ul li.valencia a:hover {
background-position:-529px -21px;
}
.navTab .contentEscudosMenu ul li.villareal a {
    background-position: -654px -2px;
	}
.navTab .contentEscudosMenu ul li.villareal a:hover {
    background-position: -654px -21px
	}
.navTab .contentEscudosMenu ul li.valladolid a {
background-position:-559px -2px;
}

.navTab .contentEscudosMenu ul li.valladolid a:hover {
background-position:-559px -21px;
}

.navTab .contentEscudosMenu ul li.zaragoza a {
background-position:-589px -2px;
}

.navTab .contentEscudosMenu ul li.zaragoza a:hover {
	background-position:-589px -21px;
	}
.navTab .subMenu .marcador {
	background-color:#ededed;
	display:block;
	font-size:10px;
	font-weight:bold;
	height:34px;
	margin-bottom:5px;
	padding:5px 0 0 0;
	width:235px;
	}

.navTab .subMenu .marcador span {
	float:left;
	display: block;
	}
.navTab .subMenu .escudo img {
	width:29px;
	margin-left:2px;
	}
.navTab .subMenu .equipo {
	padding-top:2px;
	text-align:center;
	margin-right: 1px;
	width:58px;
	}

.navTab .subMenu .resultado {
	background-color:#000;
	color:#FFF;
	font-size:21px;
	font-weight:bold;
	height:27px;
	background:url("http://estaticos03.marca.com/deporte/img/v3.0/menu/fondoMarcador.png");
	background-repeat:no-repeat;
	width:25px;
	text-align:center;
	margin-right:2px;
	}
.navTab p,.contentNews a {
	margin:0;
	padding:0;
	}
.navTab .lstDosColumn li a{
	display:inline-block; list-style-position:inside;
	}
.navTab li.eMenu {
	display:inline-block;
	}
.navTab .contentNews .last,.marcador + .last {
	margin-bottom:0;
	}
.navTab a .marcador .equipo{color:#000;}
.navTab .lstNoticias {
    width:230px;
    height:174px;
}
.navTab .lstNoticias ol{
    font-size: 12px;
    font-weight: bold;
    list-style-position: outside;
    margin: 0px 0 1px 15px;
}

.navTab .lstNoticias li {
    border-bottom: 1px solid #EEE;
    text-align: left;
    display: list-item;
    margin-bottom:10px;
    color: #DA0717;
    font-size: 11px;
	line-height: 12px;
    }

.navTab .enlacesEditables li{
    color: #DA0717;
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 0;
    padding-bottom: 4px;
    padding-right: 20px;
    text-align: left;
    width: 191px;
    overflow: hidden;
}

.navTab .enlacesEditables li a{color:#858585;}
.navTab .lstNoticias li a{
    font-weight: normal;
    text-decoration: none;
    padding:0;
    margin:0;
    display:inline;
    color:#000;
    }
  .navTab .enlacesEditables .icono img {float:left; margin-right:5px; }
  .navTab .enlacesEditables .icono a {
  	margin-top:10px;
  float:left;
  }
 .navTab .lstNoticias ol li a:hover, .navTab .enlacesEditables ul li a:hover {
    color: #DA0717;
    text-decoration: none;
	}
.navTab .lstNoticias p {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
	}

/*QUITAR CLASE OPINION por layoutDosColumns Y PONER CONTENTINFO POR  CONTENTBLOG ContentLastBlog contentLastInfo*/

.navTab .layoutDosColumns .contentInfo{
	float:left;
	width:227px;
	margin-right:9px;
	margin-bottom:10px;
	overflow: hidden;
	}
.navTab .layoutDosColumns .contentInfo img{
    float:left;
	margin-right:12px;
	width:72px;
	height:72px;
	}
.navTab .layoutDosColumns .contentInfo span {
	float:left;
	display:inline-block;
	width:143px;
	}
	
.navTab .layoutDosColumns .apuestas img {
    float: left;
    height: 114px;
    margin-left: 20px;
    width: 203px;
}

.navTab .layoutDosColumns .apuestas span {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 203px;
}

.navTab .layoutDosColumns  .apuestas a .titular {
    line-height: 12px;
    margin-top: 10px;
    padding: 0;
}

.navTab .layoutDosColumns .titulo, .navTab .multimedia .titulo{
	text-transform:uppercase;
	margin-bottom:9px;
	color:#545454;
	font-size: 12px;
	}
.navTab .layoutDosColumns .contentColumn a, .navTab .multimedia .contentColumn a{
	padding:0;
	display:inline
	}
.navTab .layoutDosColumns a .titular, .navTab .multimedia a .titular {
	margin-top:0;
	line-height:12px;
	padding:0;
	}
.navTab .layoutDosColumns a:hover .titular, .navTab .multimedia a:hover .titular  {
	text-decoration:underline;
	}
.navTab .layoutDosColumns a .txt{
	padding:0;
	margin-bottom:8px;
	line-height:12px;
	}


.navTab  a .lnkActividad {color:#920000; font-size: 10px;}
.navTab  a:hover .lnkActividad {text-decoration:none;}
.navTab .layoutDosColumns a, .navTab .multimedia a {text-decoration: none;}
.navTab .dosColumn{width:720px;}
.navTab .layoutDosColumns .contentLastInfo {width:230px;}
.navTab .multimedia .contentVideos{
	width:138px;
	float:left;
	margin-right:4px;
	}
.navTab .multimedia .contentVideos .titular{padding-right:4px;}
.navTab .multimedia .titularVideos .titulo{float:right;}
.navTab .multimedia .titularVideos{margin-bottom: 9px;margin-right:14px;}
.navTab .contentVideos img{
	margin-bottom:4px;
	}
.navTab .footerMenu {
	background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #E2E2E2;
    height:35px;
	}
.navTab .contentAspaCerrar{
	position:relative;
	overflow:hidden;
	}
.navTab .contentAspaCerrar a{
	text-align:right;
	display:block;
	padding:4px;
	margin:0;
	}
.navTab .contentAspaCerrar img{float:right;}
.navTab .contentVideoDia {position:relative;}
.navTab .contentVideoDia .contentPlayVideo {
	background: url("http://estaticos04.marca.com/deporte/img/v3.0/video-gris340.png") no-repeat scroll right bottom transparent;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
	}
.navTab .contentVideoDia .contentPlayVideo:hover {
    background: url("http://estaticos01.marca.com/deporte/img/v3.0/video-gris-hover340.png") no-repeat scroll right bottom transparent;
    cursor: pointer;}
.navTab .contentVideoDia img{width:235px; height:126px;}
.navTab .videoDia{bottom:-17px; position:absolute;}
.navTab .subMenu .marcador-tenis-automatico img{width: 40px; height: 33px;}
.navTab .subMenu .marcador-tenis-automatico table {width:235px; margin-bottom:0; font-size:11px;}
.navTab .subMenu .marcador-tenis-automatico .jugador p{line-height:16px; width:100px; text-align: center;padding-left:0;}
.navTab .subMenu .marcador-tenis-automatico .jugador{height:33px;}
.navTab .subMenu .marcador-tenis-automatico .txtDirecto {
	color:#da0717;
	font-weight: bold;
	font-size: 10px;
	background: url("http://estaticos02.marca.com/deporte/img/v3.0/iconos/ico_noticia.gif") no-repeat scroll left  transparent;
	padding-left:15px;
	text-align: left;
	}
.navTab .subMenu .divDirectoTenis a{text-decoration:none;}
.navTab .subMenu .bgPlayVideo{
	background: url("http://estaticos03.marca.com/deporte/img/v3.0/menu/videoPlay.png") no-repeat scroll center center transparent;
    display: block;
    height: 24px;
    padding-left: 107px;
    position: absolute;
    top: 70px;
    width: 28px;
	}
	
.navTab .subMenu .clasificacion td{font-size: 10px;}
.navTab .subMenu a.lnkMenuTabla{text-decoration:none;overflow: hidden;display:block;}
.navTab .subMenu .lnkNMenuTabla:hover  {text-decoration:none;}
.navTab .subMenu .clasificacion{margin-bottom:10px;}

.navTab .subMenu .marcador  .resultado.marcador-3{ font-size: 11px;padding-top:5px;}
.navTab .subMenu .marcador .equipo{ font-size: 9px;padding-top:0;}
.navTab .subMenu .marcador .resultado.marcador-2{ font-size: 14px;padding-top:5px;}

.navTab .subMenu .footerMenu ul{padding-top:10px; padding-left:10px;}
.navTab .subMenu .footerMenu li{display:inline-block; margin-right:5px;}
.navTab .subMenu .footerMenu span{color:#b90000; font-weight:bold; font-size: 12px; }

.navTab .subMenu  .footerMenu li a{font-size:11px;font-weight: bold; color:#000; background: url("http://estaticos04.marca.com/deporte/img/v3.0/fondoListaMenu.png") no-repeat scroll right transparent; display:inline-block; padding-right: 10px; padding-top:0;}
.navTab .subMenu .footerMenu li .last{font-weight:normal; background:none;}



/*MÃ¡s deportes*/
.navTab .lstTresColumn { width:360px;}
.navTab .lstTresColumn .col {width:90px; }
.navTab .lstTresColumn li {display: inline-block; float: left; text-align:center; margin-bottom: 7px;}
.navTab .lstTresColumn #icono_atletismo { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px 0px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_rugby { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -50px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_boxeo { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -100px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_vela { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -150px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_natacion { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -200px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_aventura { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -250px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_esqui { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -300px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_padel { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -350px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_turf { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -400px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_ajedrez { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -450px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_poker { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -500px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn #icono_toros { background: url("http://estaticos01.marca.com/deporte/pruebas/adr/menu_masdeportes/sprite_mas.png") no-repeat 0px -550px transparent; width:32px; height:50px; float:left;}
.navTab .lstTresColumn li a {
background-color: #F4F4F4;
text-decoration: none;
color: #000000;
font-weight: bold;
height: 34px;
padding-top: 16px;
width: 58px;
float:left; }
.navTab .lstTresColumn li a:hover { text-decoration:underline;}
div#subMenu_10.subMenu div.contentColumn ul.contentLastInfo li a img { float:left; margin-right:5px;}

/*Juegos*/

.navTab .dosColumn .juegos {
    float: left;
    height: 140px;
    margin-right: 20px;
    width: 220px;
}

.navTab .dosColumn .juegos p {
    float: left;
    height: 110px;
    margin: 0px;
    padding: 0px 0 0 0px;
    width: 110px;
}

.navTab .dosColumn .juegos p a{
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 110px;
    margin: 10px 0 0 10px;
    padding: 35px 0 0 110px;
    width: 110px;
}

.navTab .dosColumn .juegos p.chinchon a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/chinchon.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.video-slots a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/video-slots.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.bingo a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/bingo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.poker a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/poker.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.guerra-naval a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/guerra-naval.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.domino a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/domino.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.pictiomatic a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/pictiomatic.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tetriwar a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/tetriwar.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tute a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/tute.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.superbuteo a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/superbuteo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.parchis a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/parchis.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.brisca a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/brisca.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.damas a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/damas.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.mus a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/mus.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.draw-poker a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/draw-poker.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.ajedrez a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/ajedrez.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.escoba a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/escoba.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tarot a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/tarot.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.ruleta a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/ruleta.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.belote a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/belote.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.buraco a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/buraco.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.blackjack a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/blackjack.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.truc a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/truc.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.cruzadas a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/cruzadas.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.minigolf a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/minigolf.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.billar a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/billar.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.chupate a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/chupate.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.cinquillo a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/cinquillo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.cuadrox a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/cuadrox.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tesoros a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/tesoros.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.loteria a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/loteria.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.fortuna a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/fortuna.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tranca a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/tranca.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.scopa a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/scopa.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.trucoarg a{
	background: url("http://estaticos03.marca.com/iconos/juegos/logos/trucoarg.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.truco a{
	background: url("http://estaticos04.marca.com/iconos/juegos/logos/truco.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.rummy a{
	background: url("http://estaticos01.marca.com/iconos/juegos/logos/rummy.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .dosColumn .juegos p.tombola a{
	background: url("http://estaticos02.marca.com/iconos/juegos/logos/tombola.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.navTab .juegosfooterMenu {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
}

.navTab .subMenu .juegosfooterMenu ul {
    padding-left: 10px;
    padding-top: 10px;
}

.navTab .subMenu .juegosfooterMenu li {
    display: inline-block;
    margin-right: 5px;
}

.navTab .subMenu .footerMenu li a {
    background: url("http://estaticos04.marca.com/deporte/img/v3.0/fondoListaMenu.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #000000;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 0;
}